.toolbar {
  min-height: auto;
  min-width: 42px;
  height: 100% !important;
  height: calc(100% - var(--bottom-placeholder-height)) !important;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  padding: 8px 0px;
  border-bottom: none;
  border-left: var(--material-panedivider);

  &,
  .start,
  .center,
  .end {
    flex-direction: column;
  }

  .divider {
    width: 20px;
    height: 1px;
  }

  #pageNumber,
  #numPages {
    width: 38px;
  }

  #numPages {
    display: block;
    text-align: center;

    > div {
      display: inline;
      position: static;
    }
  }
}

#split-view,
.split-view {
  top: 0;
  right: 42px;
}
